@model IEnumerable<DoanquanlysachV3.Models.TACGIA>

@{
    ViewBag.Title = "IndexTG";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Danh sách các tác giả</h2>

<p>
    @Html.ActionLink("Tạo mới", "Formthemtacgia")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaTacGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenTacGia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaTacGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenTacGia)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Formsuatacgia", new {  id=item.MaTacGia }) |
            @Html.ActionLink("Xóa", "Formxoatacgia", new {  id=item.MaTacGia })
        </td>
    </tr>
}

</table>
