@model DoanquanlysachV3.Models.THEDOCGIA

@{
    ViewBag.Title = "Formxoathedocgia";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
@if (ViewBag.XoaThehocvien == true)
{
<h3>Bạn chắc chắn muốn xóa thông tin này chứ ?</h3>
}
else
{
    <h3>Thẻ này đã được mượn sách</h3>
}

    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MaTheDocGia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaTheDocGia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TenDocGia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenDocGia)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NgayTao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayTao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NgayHet)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayHet)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaDocGia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaDocGia)
            </dd>

        </dl>

        @using (Html.BeginForm("xoathedocgia", "thedocgia", new { id = Model.MaTheDocGia }))
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @if (ViewBag.XoaThehocvien == true)
                {
                    <input type="submit" value="Xóa" class="btn btn-primary" /> 
                }

            </div>
            @Html.ActionLink("Trở về danh sách thẻ đọc giả", "IndexTDG")
        }
    </div>
