@model IEnumerable<DoanquanlysachV3.Models.PHIEUMUON>

@{
    ViewBag.Title = "IndexPM";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Danh sách phiếu mượn</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaPhieuMuon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayMuon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaTheDocGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongSachMuon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaPhieuMuon)
        </td>
        <td>
            @{ 
                string ngaymuon = item.NgayMuon.Value.ToShortDateString();
            }
            @Html.DisplayFor(modelItem => ngaymuon)
        </td>
        <td>
            @{
                string ngaytra = item.NgayTra.Value.ToShortDateString();
            }
            @Html.DisplayFor(modelItem => ngaytra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaTheDocGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongSachMuon)
        </td>
    </tr>
}

</table>
